ody {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    align-items: center;
}

.container {
    width: 90%;
    max-width: 420px;
    background: rgba(255,255,255,0.85);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: none;
    background: #ff5722;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #e14a1d;
}

.form-step {
    display: none;
    animation: fadeSlide 0.5s ease;
}

.form-step.active {
    display: block;
}

@keyframes fadeSlide {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}

.icon-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    flex-wrap: wrap;
}

.icon-box {
    width: 48%;
    background: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.icon-box.wide {
    width: 100%;
}

.icon-box label {
    font-size: 14px;
    font-weight: bold;
}
